body{
  background-color:;
}
img,video{
    width: auto; 
    max-width: 100%; 
    height: auto;
}

p{
  max-width: 70ch;
  line-height: 1.4;
  font-size: 20px;
}

.navlist{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 100px;
}

.navlist li
{
    list-style-type: none; /* removes the bullet points */
}

.navimage{
  width: 100px;
}
a{
  font-size: 15px;
}
}